<div *ngIf = "post">
  <div>
    <label>Title:</label><br>
    <input [(ngModel)]="post.title" (keydown)="changeToNotSaved()" cols = "50" placeholder="title">
  </div>
  <div>
    <label>Body:</label><br>
    <textarea [(ngModel)]="post.body" (keydown)="changeToNotSaved()" cols = "50" rows = "10" placeholder="body"></textarea>
  </div>
  <div>
    Last Modified: {{post.modified.toLocaleString()}}
  </div>
  <button clas="delete" (click)="deletePost()" routerLink="/">
    delete
  </button>
  <button clas="save" [disabled]="noNeedToSave()" (click)="savePost()">
    save
  </button>
  <button clas="preview" (click)="previewPost()" routerLink = "/preview/{{post.postid}}">
    preview
  </button>
</div>
