<div *ngIf = "post">
  <div>
    <label>Title:</label><br>
    <input [(ngModel)]="post.title" (keydown)="changeToNotSaved()" placeholder="title">
  </div>
  <div>
    <label>Body:</label><br>
    <input [(ngModel)]="post.body" (keydown)="changeToNotSaved()" placeholder="body">
  </div>
  <div>
    Last Modified: {{post.modified}}
  </div>
  <button clas="delete" (click)="deletePost()">
    delete
  </button>
  <button clas="save" [disabled]="noNeedToSave()" (click)="savePost()">
    save
  </button>
  <button clas="preview" (click)="previewPost()" routerLink = "/preview/{{post.postid}}">
    preview
  </button>
</div>
