<div>
    <div *ngIf = "curr_post">
      <div>
        <label>Title:</label><br>
        <input [(ngModel)]="curr_post.title" placeholder="title">
      </div>
      <div>
        <label>Body:</label><br>
        <input [(ngModel)]="curr_post.body" placeholder="body">
      </div>
  </div>
  <div>
    Last Modified:
  </div>
  <button clas="delete" (click)="deletePost()">
    delete
  </button>
  <button clas="save" (click)="savePost()">
    save
  </button>
  <button clas="preview" (click)="previewPost()">
    preview
  </button>
</div>
